<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>sightings</title>
  </head>
  <body >
	<div class = 'alert alert-primary'>
	<h1>Sightings list</h1>
        </div>

        
	<div class ='row'>
            <div class = 'col-md-3 offset-md-2'>
		<p> Saw a squirrel? Add your sighting here</p>
	    </div>
	    <div class ='col-md-3 offset-md-1'>    
		<p> Check out the Squirrel Figures statistics</p>
	    </div>
	</div>
	    <div class = 'row'>	 
	        <div class ='col-md-3 offset-md-3'>
	            <a class = 'btn btn-secondary' href ="{% url 'add' %}">Add</a>
		</div>
		<div class ='col-md-4 offset-md-1'>
	            <a class = 'btn btn-primary' href="{% url 'stats' %}">Stats</a>
	        </div>
	    </div>

        
    <br>
    



    <div class ='row'>
        <div class = 'col-md-4 offset-md-1'>
            <p>The numbers look intimidating?</p>
            <p>Squirrels cracked the code for you:</p> 
            <p>First number shows the id of the sighting, the second number is the unique identification code for a squirrel</p>
        </div>	
        <div class ='col-md-4 offset-md-3'>
	    <img class = 'card text-right' height='150px'  src = https://lh3.googleusercontent.com/bjN5Mf8T90jSQ1HMNPOVF651EckNhpawk20T0I6yJruuFi8nPE8XEsvmD1t9w2cokpkq5CHwlnStkiD_2SJUxxnvS6CiCnJc9lq4snrMHVENofEFqYLzceZcJcOWKOevikTpa5OWnP8YgvrxBLYnqnVt5XU4LuP0hILYy2zK9aYEaMfxjwTriTtV-w9zmgIZkRIApZLere-tc7vK47jOmwKqtcWz4MkxwDyY-hb7xAgqKSnGKgPiUpIFocQN3ZjOuTAFK9FycrSLfGlQFXdJK6ltYMllIxGYluzf7fz3fmrQX85Lt96DsKJ3w1wGLHN2TGOrDmPbNT1-I3LL4wyN4wpWMzBZexXvMFgxkIqJhLv_IRKHWswRIBA3CJGQnozkCMTg6L4sRLFYA0txxkkDttAFQde8sRE-pjpJPJo1osFD_Yo1NRuNSxG8ePlv8IsTjTBpJrv1T8EGJQhClch3mpXhhpBwDb-5bV0SzjqtZhoF1TUgrQ8MRNX_DKYBdEZBpZRevba8fuCiEkBW_THNkpbZ34dKQjpsLBBKNh1sHzGSkIBAghlkpm9InQN0v9wr_JHm8cW8567gh1EpR9LRddz7wlAJpNyegpWgowV1UGoMxjO17JIJ2QeZRBfsG63d29qa4VzHSuLZb0SnvI072jO2Nkt1ee2saySzUTfOBIKxvQ38lra1=w837-h842-n> 
        </div>
    </div>	    	    
    <div class = 'alert alert-primary'>
	    <p> Click on a link below, to know more about a squirrel and what it was doing</p>
            <p> Have more info? Make use of the edit button</p>	    
    </div>
    <br>
    
    
{% block body %}
{% for item in item_list %}
    <div class ='row'>    
        <div class ='col-md-2 offset-md-1'>
	    <a href='/sightings/sightings/{{item.id}}'> {{item.id }} -- {{ item.unique_squirrel_id }}</a>
        </div>
	<div class ='col-md-2'>
		<a href="{% url 'update' item.unique_squirrel_id %}" class='btn btn-outline-secondary'>Edit</a>	
        </div>
    </div>
    <br>
    
{% endfor %}
{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
