{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel = 'stylesheet' href ={% static 'squirrel/style.css' %}>
		
		<div class = 'alert alert-primary'>
		<h2>Squirrel Figures</h2>
		</div>
		<div class = 'alert text-secondary'>
		<h3>What numbers tell us about the squirrels of Central Park</h3>
		</div>
		<br>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
                
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
    <div class = 'row'>          
	  <div class='col-md-4'>
	        <ul>
			<li>3018 squirrels</li>
                </ul>
		<ul>
			<li>9:1 adult : juvenile ratio</li>
		</ul>
                <ul>
                        <li>83% of the squirrels have grey fur</li>
		</ul>
		<ul>
			<li>black fur squirrels are very rare, only 103 squirrels have black fur</li>
                </ul>
		<ul>
			<li>most common activity is foraging, almost half of the sightings</li>
		</ul>
                <ul>
			<li>only 22% of the sightings reported climbing activity</li>
		</ul>
		<ul>
                        <li>45% vs. 55%  morning vs. afternoon/evening  sightings ratio</li>
               </ul>
	  </div>
	  <div class ='col-md-8'> 
	       <div class = 'container'>
		   <img class = 'card' height='350px'  src = "https://lh3.googleusercontent.com/Q7ugdZ75sfxNw0ibI5tf5BqXsmkySzQPQPPs0wkYUXC4sK8F94lWSs61flQitrPF79-ieOaxGPz2oAglGkc1kgrBoGhh2OJPWW_fAAT4p5QVOuzXb_OOIJJAg-fxfopW72Pa6ZgO7UjVCfDXquEGnfOhQuk2ETiJzWb0tYg2B3NWeBN9aWdSdTRI_l_ztWvR1NpRwdGJ2_u8Eytan2QUrHtaP7_Odi0XEF-FvPhgAISfFODWmru45lmG0-9YqGHITIuQWMrurU9tbla0icdhVF3RGD5IdHHGGlanwDz8iovBLnfG-SqicJNI6B-KePb84xNRR65ohMADn3QdAA4wwfPisISXWyFanVxi-wFVv4Q3Mx3nobz5H0MSAW13gnVXgXZRrz7vM99oFSOXN2iRE7AFjue2N_H8fkW7H2sK8fgx8DFyu9mmb7hZDqX-QXOvCrhh9hSuJZtfMicEZX7lRj9qEd_vLipegK7JkNdt0YunfMT4ED5VKGEotf7ZqiF-SInJnkgC9YzImTondh_kZxxgzi7ubSI7IsYVJUC8MECk5Gci8TD4-BoQjifg7GagyUk4NOO5rCYLKBh5q7McpiS3zp-Rbhsp6aHHkFNIq4BvOjwtJ8v5zCt-XnqWfbGAzEojD_ZrY1ZUM7rtBj4MMuHwAmun2rfIPN_myO8BGpkyzPdgzN66=w797-h842-no">
               </div>
          </div>
    </div>	  
</body>
</html>
