{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<link rel = 'stylesheet' href ={% static 'squirrel/style.css' %}>
		
		<div class = 'alert alert-primary'>
		<h2>Squirrel Figures</h2>
		</div>
		<div class = 'alert text-secondary'>
		<h3>What numbers tell us about the squirrels of Central Park</h3>
		</div>
		<br>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
                
                <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
    <div class = 'row'>          
	  <div class='col-md-4'>
	        <ul>
			<li>3018 squirrels</li>
                </ul>
		<ul>
			<li>9:1 adult : juvenile ratio</li>
		</ul>
                <ul>
                        <li>83% of the squirrels have grey fur</li>
		</ul>
		<ul>
			<li>black fur squirrels are very rare, only 103 squirrels have black fur</li>
                </ul>
		<ul>
			<li>most common activity is foraging, almost half of the sightings</li>
		</ul>
                <ul>
			<li>only 22% of the sightings reported climbing activity</li>
		</ul>
		<ul>
                        <li>45% vs. 55%  morning vs. afternoon/evening  sightings ratio</li>
               </ul>
	  </div>
	  <div class ='col-md-8'> 
	       <div class = 'container'>
		   <img class = 'card' height='350px'  src = "https://i.ibb.co/cLRc1tq/20191208-155803-1.jpg" />
               </div>
          </div>
    </div>	  
</body>
</html>
